.profile-container {
    background: rgba(255,255,255,.6);
    width: 90%;
    padding-bottom: 40px;
}
.profile-section, .pwreset-form {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 95%;
    height: 100%;
    padding: 1% 2%;
    margin: 3% 2% 0;
}
.profile-section.card{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width:50%;
}
.main-content-pwreset {
    /* background: #fff; */
    height: 100%;
    min-height: 350px;
    width:30%;
    padding: 1% 2%;
    margin: 10px auto;
    align-self: center;
}
.ResetPassword {
    display: flex;
    flex-direction: column;
}
.ResetPassword h1 svg {
    height:2em;
    width:2em;
}
.pwreset-form {
    display: flex;
    flex-direction: column;
}
.pwreset-form button {
    width: 50%;
    margin: auto;
  }
.pwreset-container {
    background: hsla(0,0%,100%,.6);
    width: 90%;
    padding-bottom:30px;
}
.pwreset-section {
    width: 35%;
    margin: 0 auto;
    background: #fff;
    height: 100%;
    padding: 1% 2%;
}