@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-image:url('../../assets/2022.png'), linear-gradient(to bottom, #1f1f1f 0%, #202020 50%, #232323 100%); */
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    padding:0;
    margin:0;
    color:#2D2D2D;
    font-size:14px;
}
.sidebar {
    background:#333333 url('../../assets/2022.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center; 
    width:75%;
}
.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: #ff6600;
  background: linear-gradient(
    0deg,
    rgba(108, 108, 108, 1) 0%,
    rgba(108, 108, 108, 1) 50%,
    rgba(108, 108, 108, 0.6) 100%
  );
}

.container {
  width: 100%;
  margin: 15% auto;
  display: flex;
  flex-direction: row;
}
.col-4 {
  width: 25%;
  float: left;
}

h1 {
  font-size: 38px;
  text-transform: uppercase;
  line-height: 1;
}
