
  
  .messages {
    flex: 1;
    position: relative;
    border: 1px solid rgba(221, 221, 221, .5);
    border-radius:5px;
  }
  
  .messages-scroller {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 16px;
    max-height: 500px;
  }
  .message-container {
    max-height:500px;
  }
  .react-auto-scroll__scroll-container {
    max-height:500px;
  }
  .message {
    align-self: flex-start;
    margin-top: 4px;
    padding: 8px 12px;
    max-width: 240px;
    background: #f1f0f0;
    border-radius: 16px;
    font-size: 14px;
    width: 48%;
    flex-direction: row;
    display: flex;
  }
  
  .message.me {
    align-self: flex-end;
    background: #f19e38;
    color: white;
  }
  
  .chat-bar {
    height: 64px;
    border-top: 1px solid #ddd;
  }
  
  .chat-bar form {
    height: 100%;
    padding: 16px;
    width: 100%;
  }
  
  .chat-bar form input {
    width: 100%;
    height: 32px;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 16px;
    outline: none;
  }
  
  .chat-bar form input:focus {
    border: 1px solid #f19e38;
  }

  .ui.dimmer {
    display: none;
    position: absolute;
    top: 0!important;
    left: 0!important;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    background-color: rgba(0,0,0,.85);
    opacity: 0;
    line-height: 1;
    animation-fill-mode: both;
    animation-duration: .5s;
    transition: background-color .5s linear;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    will-change: opacity;
    z-index: 1000;
    animation-iteration-count: 1;
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }
  .dimmed.dimmable>.ui.animating.dimmer, .dimmed.dimmable>.ui.visible.dimmer, .ui.active.dimmer, .show {
    opacity:1;
  }
  .ui.active.dimmer.noshow {
    opacity:0;
  }

  .openPopup {
    background:#ff6600;
    border-color:#ff6600;
    color:#fff;
    font-size:1rem;
    font-weight:400;
    margin-top:10px;
    line-height: 1.5;
    text-align: center;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  