
  .background {
    background:url('https://seminar-media.s3.amazonaws.com/Spring/2021/Polling/background.png');
    background-position: top left;
    background-size:cover;
    background-repeat: no-repeat;
    width:25%;
    height:100%;
  }
  
  .site-content {
    flex: 1;
  }
  .poll-wrapper {
    padding: 10px 20px;
    width: 100%;
    background-color: #b6b6b6;
    zoom: 86%;
  }
  .pollContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: column;
  }
  .pollView {
    margin-bottom:10px;
  }
  .candidate-container {
    height: 305px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .voteSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
  .no-item {
    display: none;
  }
  .vote-button {
    color: #ffffff;
    width: auto;
    min-width: 228px;
    font-size: 1.2rem;
    border-radius: 25px !important;
    padding: 10px;
    text-align: left;
    transition: 0.5s background ease-in-out;
  }
  .vote-button:hover {
    opacity: .7 !important;
  }
  .totalVotes {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
  }
  .totalVotes h1 {
    color: #000000;
    font-size: 8rem;
    text-align: center;
  }
  
  .backButton {
    background:#ff6600;
    border-color:#ff6600;
    color:#fff;
    padding: .5rem 1rem;
    font-size:1rem;
    font-weight:400;
    line-height: 1.5;
    float:right;
    text-align: center;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-right:10px;
    margin-bottom:10px;
    width:50%;
  }
  .reloadButton {
    background: rgb(102,153,204);
    border-color:rgb(102,153,204);
    margin-right: 10px;
    padding: .5rem 1rem;
    color:#fff;
    margin-right: 10px;
    padding: .5rem 1rem;
    font-size:1rem;
    font-weight:400;
    line-height: 1.5;
    text-align: center;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width:50%;
  }