.main-content-login {
  background: #fff;
  height: 100%;
  width:30%;
  padding: 1% 2%;
  margin: 10px auto;
}
.main-content-login h1 svg {
  height:2em;
  width:2em;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-form button {
  width: 50%;
  margin: auto;
}
.login-form a {
  text-align: right;
  padding-bottom:10px;
}
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
