.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}
/* ul {
  margin-block-start:0; margin-block-end:0; margin-inline-start:0; margin-inline-end:0;
  padding-block-start:0; padding-block-end:0; padding-inline-start:0; padding-inline-end:0;
} */
.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.fade-enter {
  opacity: 0;
  transform: scale(1.1);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.navbar-expand-md .navbar-toggler {
  display: none;
}
.result-block-container .result-block {
  opacity: 1;
}

input[type="text"], input[type="password"], textarea, select { 
  outline: none;
}
/*Main Styles*/
div#root {
  height:auto !important;
}
html, body {
  height:100%;
  min-height:100%;
  overflow: auto;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image:url('https://seminar-media.s3.amazonaws.com/Spring/2021/background.png'), linear-gradient(to bottom, #1f1f1f 0%, #202020 50%, #232323 100%);
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  padding:0;
  margin:0;
  color:#2D2D2D;
  font-size:14px;
}
/* li {
  list-style-type: none;
} */
/*Fonts*/
a, .btn.btn-link {
  text-decoration:none;
  color:#2E8BC9;
}
/*Errors*/
.main-content-login pre {
  background: #fbeae9;
  border-color: #f7d6d3;
  color: #ad3123;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  padding: 12px 1em 12px 1em;
  margin: 0 0 18px;
  font-family:Helvetica,Arial, sans-serif;
  font-size:14px;
}
.btn-primary {
  background: rgb(102,153,204);
  border-color:rgb(102,153,204);
  min-width:100px;
  border-radius: .1rem;
}
.btn-primary:hover, #loginBtn:hover, #signupBtn:hover  {
  background:rgb(230,230,230);
  border-color:#000;
  color:#000;
}
.btn-primary.disabled, .btn-primary:disabled {
  background-color: #E0E0E0;
  border:none;
}
.btn-success.disabled, .btn-success:disabled {
  color:#000;
  background-color: #E0E0E0;
  border-color:#E0E0E0;
}
#loginBtn, .LoaderButton {
  background:#ff6600;
  border-color:#ff6600;
  color:#fff;
  margin-right: 10px;
  padding: .5rem 1rem;
  font-size:1rem;
  font-weight:400;
  line-height: 1.5;
  text-align: center;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#logoutBtn, .dropdown-profile {
  background:none;
  color:#000;
  padding: .25rem 1rem;
}
#logoutBtn:hover, .dropdown-profile:hover {
  background:#666666;
  border-color:#666666;
  color:#fff;
}
#signupBtn {
  background: rgb(102,153,204);
  border-color:rgb(102,153,204);
  margin-right: 10px;
  padding: .5rem 1rem;
  color:#fff;
  margin-right: 10px;
  padding: .5rem 1rem;
  font-size:1rem;
  font-weight:400;
  line-height: 1.5;
  text-align: center;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.dropdown-toggle::after {
  display:none;
}
a#profileDropDown {
  display: flex;
  flex-direction: row;
  align-items: center;
}
a#profileDropDown svg {
  position: absolute;
  right: 10px;
  fill: #ffffff;
}
.main-content-profile .nav-user-profile.sb-avatar__text {
  margin-top: 5px;
}
.danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
h1, h2, h3, h4, h5, h6 {
  font-family:Helvetica, Arial, sans-serif
}
h1 {
  font-size:1.8em;
  color:#ff6600;
  font-weight:bold;
}
.hero h1 {
  font-size:22px;
  color:#ff6600;
  font-weight:bold;
}
h2 {
  color:#2e8bca;
  font-size:20px;
  font-weight: normal;
}
h2.section-header {
  border-bottom: solid 1px #ccc;
  margin-bottom:10px;
}
h2.agenda-subheader {
  font-size:14px;
  font-weight:bold;
  padding: 0px 20px;
}
.seminar-container h2 {
  margin-bottom:1em;
}
h3 {
  font-weight: bold;
  font-size:14px;
}
h3.meetingTitle {
  color:#fff;
  font-size:1.1em;
}
h6 {
  margin-bottom:0 !important;
}

.toggle-buttons {
  background:#ff6600;
  color:#fff;
}

.logo {
  background: url('https://s3.us-east-2.amazonaws.com/fiservseminars-media.com/logo.png');
  background-size:contain;
  background-position: center;
  width: 167px;
  height: 84px;
  margin: 10px;
  padding:0;
}

.page-title {
  color: #ff6600;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.125);
  width: fit-content;
  padding: 10px 20px 10px 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  font-weight:bold;
}
.page-title i {
  margin-right: 10px;
}
.page-title.meetings {
  position: relative;
}
.nav-container {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f60;
}

.navbar {
  width:100%;
  justify-content: space-between;
  margin-top:0;
  padding-top:0;
  padding-left:0;
  padding-right:0;
  margin: 0 auto;
  max-width: 1500px;
  height: 118px;
  box-shadow: none;
  margin-bottom:0px !important;
  background:none;;
}
ul.navbar-buttons {
  display: flex !important;
  flex-direction: row;
}
.dropdown-header {
  font-size:1rem;
  font-weight:bold;
  border-bottom: 1px solid rgba(0,0,0,.2)
}
.announcement {
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#333;
  height:76px;
  max-width: 100%;
  border-radius:0;
  border:none;
}

/* .announcement p {
    margin: 0 auto;
    max-width: 1500px;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    font-size: 1.2rem;
} */

/* .announcement a {
    color: #333;
    text-decoration: underline;
} */
.navbar .container {
    margin: 0 auto;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    background:#fff;
}
.collapse.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}
.container {
  height: 100%;
  max-width:100%;
  padding:0;
  margin-top:0 !important;
}
.content-wrapper {
  padding:0;
  display: flex;
  flex-direction: row;
  margin-top: 0 !important;
  margin-bottom:0 !important;
}

/*Sidenav*/
.pro-sidebar .overlay {
  height:auto;
}
.react-slidedown.closed {
  display: none;
}
.react-slidedown {
  height: 0;
  transition-property: none;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}
.pro-sidebar .pro-menu>ul>.pro-sub-menu>.pro-inner-list-item {
  background-color: rgba(255,255,255,.3);
}
.resource-center {
  height:95px;
}
.pro-sidebar .pro-menu>ul>.pro-sub-menu>.pro-inner-list-item>div>ul {
  padding-top: 15px;
  padding-bottom: 15px;
}
.pro-sidebar>.pro-sidebar-inner>.pro-sidebar-layout ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* .pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu>.pro-inner-item>.pro-arrow-wrapper {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu>.pro-inner-item>.pro-arrow-wrapper .pro-arrow {
  display: inline-block;
  border-color: #adadad;
  border-style: solid;
  border-width: 0 2px 2px 0;
  padding: 2.5px;
  vertical-align: middle;
  transition: transform .3s;
  transform: rotate(-45deg);
} */
.pro-inner-item {
  height: 75px;
  display: flex;
  justify-content: center;
  margin-right: 0;
  line-height: 0;
  margin: 10px 0;
  flex-direction: column;
}
.pro-icon {
  font-size: 1.75em;
}
.pro-menu ul {
  margin:0;
}
.pro-item-content, .sidebar-nav-link {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height:30px;
}
.pro-menu-item:hover  {
  opacity: .7;
  color:#fff;
  text-decoration: none;
}
.pro-item-content:hover, .sidebar-nav-link:hover {
  color:#fff;
  text-decoration: none;
}
.pro-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-sidenav {
  width: 128px;
  background: #666;
  color:#fff;
  padding: 40px 0;
  position: relative;
  left: 0;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1006;
  min-width: 64px;
}
.main-content-update {
  background: #fff;
  height: 100%;
  width:50%;
  padding: 1% 2%;
  margin: 10px auto;
}
.main-content-update form .row {
  justify-content: space-evenly;
}
.upload-profile {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  margin-bottom:50px;
}
.custom-file-input {
  cursor: pointer;
  pointer-events: visible;
}
label.custom-file-label {
  border:none;
  width:auto;
  background:#ff6600;
  border-color:#ff6600;
  color:#fff;
  padding: .5rem 1rem;
  font-size:1rem;
  font-weight:400;
  text-align: center;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-top:10px;
  cursor: pointer;
  pointer-events: visible;
}
label.custom-file-label:after {
  display:none;
}
.Signup {
  background: #fff;
  height: 100%;
  width: 50%;
  display: flex;
  align-self: center;
  flex-direction: column;
  padding: 1% 2%;
  margin: 10px auto;
  justify-content: center;
}
.Signup form {
  display: flex;
  width:70%;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}
.Signup form .form-row {
  justify-content: space-between;
}
.Signup form .form-group {
  margin:10px;
} 
#passwordHelpBlock {
  text-align:center;
  font-size:100%;
  margin-top:20px;
}
.required label:after, span.reg-require:after {
  color: #e32;
  content: ' *';
  display: inline;
  font-weight:bold;
}
select#seminarDate, select#address {
  min-width: 203.37px;
}
.terms-check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom:10px !important;
  margin-top:20px !important;
}
.terms-check a {
  color:#ff6600;
}
.main-content-profile {
  background: #fff;
  height: 100%;
  width: 70%;
  padding: 1% 2%;
  margin: 10px auto;
}
.archived-container {
  background: hsla(0,0%,100%,.6);
  width: 90%;
  padding-bottom: 10px;
}
.archive-section {
  background: #fff;
  width: 95%;
  height: 100%;
  padding: 1% 2%;
  margin: 3% 2% 0;
  display: inline-block;
}
.archive-segment {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.tabular.menu {
  position: relative;
  top: -21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: .5rem 0;
  background: #fff;
  font-weight: 400;
  border: 1px solid rgba(34,36,38,.15);
  -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  min-height: 2.85714286em;
}
.tabular.menu .active.item {
  background: #f60;
  border: none;
  color: #fff;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.tabular.menu .item {
  position: relative;
  display: flex;
  justify-content: center;
  line-height: 1;
  min-width: 100px;
  text-decoration: none;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: 0 0;
  padding: .92857143em 1.14285714em;
  text-transform: none;
  color: rgba(0,0,0,.87);
  font-weight: 400;
  -webkit-transition: background .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
  transition: background .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
  transition: background .1s ease,box-shadow .1s ease,color .1s ease;
  transition: background .1s ease,box-shadow .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
}
.tabular.menu .active.item:hover {
  background: rgba(255,102,0,.8);
  color:#fff;
  border:none;
}
.tabular.menu .item:hover {
  background: rgb(102,153,204);
  border-color:rgb(102,153,204);
  color:#fff;
}
.faq-container, .bio-container {
  background: hsla(0,0%,100%,.6);
  width: 90%;
  padding-bottom:30px;
}
.faq-sections, .bio-sections {
  background: #fff;
  width: 90%;
  height: 100%;
  padding: 1% 2%;
  margin: 3% auto;
}
.faq-accordion .faq-title {
  color: rgba(0,0,0,.95) !important;
  border:1px solid rgba(34,36,38,.15);
}
.title.faq-title:hover, .title.faq-title:hover {
  background:#6699cc !important;
  color:#fff !important;
}
.active.title.faq-title {
  background:#6699cc !important;
  color:#fff !important;
  border-bottom-left-radius:0;
  border-bottom-right-radius: 0;
  margin-bottom:0 !important;
}
.title.faq-title:first-child, .title.faq-title:first-child {
  border-top:1px solid rgba(34,36,38,.15) !important;
}
.title.faq-title {
  background:#eee;
  transition: all .1s ease;
  border-radius: 5px;
  margin-bottom: 10px !important;
} 
.content.active.faq-content {
  margin-bottom:10px !important;
  border: 2px solid #f60;
  border-top:none;
}
.content.active.faq-content p {
  margin-bottom:0;
  padding:10px;
}
.speaker-bio-container.card {
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
  flex-direction: row;
  padding-bottom: 10px;
}
.card-deck {
  padding:10px 20px;
  width:50%;
}
.card-body {
  width: 100%;
}
.card-deck:last-child {
  margin: 0 auto;
}
.custom-sidenav div[role*="menu"] {
  background: #666;
  height: auto;
}
.main-content {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.meetingContent  {
  background:rgba(0,0,0,.75);
  border-left:10px solid #ff6600;
  margin:10px 0 !important;
  width: 100%;
}
.meetingContent {
  margin-top:0;
  width: 100%;
}
.meetingContent p {
  color:#fff;
  font-size:1em;
  margin-bottom: 0rem;
}
.meetingContent h1 {
  margin-top:0;
  padding: 5px 20px;
}

.toggle-button {
  background: rgb(102,153,204);
  border-color:rgb(102,153,204);
  min-width:100px;
  border-radius:0;
  width:33%;
  color:#fff;
  font-weight:400;
  font-size:1rem;
  text-align:center;
  padding: .375rem .75rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  pointer-events:pointer;
  cursor: pointer;
}
.left.meetings {
  width:100%;
  margin:0;
}
.meeting-content {
  background: rgba(0,0,0,.75);
    border-left: 10px solid #f60;
    margin: 2% 0;
}
.meetings-container {
  background: rgba(255,255,255,.6);
  width: 90%;
  padding-bottom: 10px;
}
.meetings-sections {
  display: flex;
  flex-direction: row;
  background: #fff;
  width: 95%;
  height: 100%;
  padding: 1% 2%;
  margin: 3% 2% 0;
}
.pollsFrame {
  border:none;
  border-color:transparent;
}
.left {
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 1% 2%;
    margin: 10px 2%;
    display: inline-block;
}
.right {
  background: transparent;
  width: 40%;
  height: 100%;
}
.confirmation {
  background: #fff;
  width: 80%;
  height: 100%;
  padding: 1% 2%;
  margin: 3% 2% 3%;
  text-align:center;
}
.right.meetings {
  padding: 1% 2%;
  background:#fff;
}
/*Footer*/
.footer {
  background: #333;
  padding: 1% 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  flex-direction: column;
  text-align:center;
  font-size: 13px;
}

.footer p {
  margin-bottom:2px;
}
.footer-logo {
  background: url(https://www.fiserv.com/content/dam/fiserv-com/fiserv-logo-white.svg);
  width: 88px;
  height: 45px;
  background-position:center;
  margin: 0 auto 10px auto;
}

 .footer p {
   color:#fff;
 }

 /*Notes*/
 .disclaimer-networking {
    padding: 1% 2%;
    width:70%;
 }
 .note-form {
   position: relative;
   background-color: #fff;
   transition: box-shadow .25s;
   padding: 1% 2%;
 }

 .note-form input, .edit-note {
  padding: 20px;
  margin-right:10px;
  border-radius: 0 0 2px 2px;
  border: 2px solid #d3d3d3;
  width:100%;
 }
 
 .notes-container .note {
   background:#ff6600;
   color:#fff;
   padding:1% 2%;
   margin-top:5px;
 }
 
 button.add-note, button.update-note, button.save-note:hover   {
   background:#ff6600;
   color:#fff;
 }

 button.add-note:hover, button.update-note:hover, button.save-note {
  background: rgb(102,153,204);
  border-color:rgb(102,153,204);
  color:#fff;
 }

.edit-note-buttons {
  display: flex;
}
.edit-note-buttons div {
  padding:5px;
}
.note .btn-container button {
  margin-right:5px;
}
 /*Chat*/

 .chat {
   margin-top:10px;
 }
 .chat-row {
  justify-content: flex-start;
}
 .nav-item.dropdown .dropdown-menu {
   right:0;
   left:unset;
 }
 .col-wrapper {
  width: 400px;
  max-height:588px;
  flex-shrink: 0;
  align-self: stretch;
  position: relative;
 }
 .scrolling-chat {
  border-radius: 0 0 2px 2px;
  border: 2px solid #d3d3d3;
  padding:10px;
 }
.scrolling-chat div[class*="react-scroll-to-bottom"] {
    max-height: 550px;
}
.react-scroll-to-bottom--css-jftgz-1n7m0yu {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}
 .chat-wrapper .meetings {
   max-height:500px;
   padding:10px;
 }
 .chat-signon {
  background: #ff6600;
  border:none;
 }
 .chat-signon:hover {
   background: rgba(255,102,0,.8);
   color:#fff;
   border:none;
 }
 .join-chat {
  background: rgb(102,153,204);
  color:#fff;
  padding: 5px 10px;
  margin-left: 5px;
  margin-bottom: 4px;
  border: none;
 }
 .join-chat:hover {
  background: rgb(102,153,204, .8);
  color:#fff;
  padding: 5px 10px;
  margin-left: 5px;
  margin-bottom: 4px;
  border: none;
 }
 .username {
  margin-bottom: 0;
  color: #333;
  font-weight: bold;
  font-size: .9rem;
 }
 .username-fiserv {
  color:#ff6600;
  margin-bottom: 0;
  font-weight: bold;
  font-size: .9rem;
 }
 .chat-line {
   margin-bottom:10px;
 }
.enter-message {
  width:100%;
}
.chat-message-input {
  width: 100%;
  display: flex;
}
.chat-message-input input {
  width: 100%;
  border-radius: 5px;
  min-height: 42px;
  background: #f1f2f3;
  padding: 10px;
  border: 1px solid #dee2e6;
}
#chat-popout-window {
  position: absolute;
  height:100%;
  width: 100%;
  top:0;
  background:#fff;
  z-index: 3;
  flex-shrink: 0;
  align-self: stretch;
}
.popout-chat-message-container {
  border-radius: 0 0 2px 2px;
  border: 2px solid #d3d3d3;
  padding: 10px;
  background:#fff;
}
#chat-popout-window input {
  width: 100%;
  border-radius: 5px;
  min-height: 42px;
  background: #f1f2f3;
  padding: 10px;
  border: 1px solid #dee2e6;
}
i.fa.fa-fw.fa-external-link-alt {
  color:#6c757d;
  pointer-events:pointer;
  cursor: pointer;
  padding-right: 10px;
}
.popout-icon {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
 .messages {
  padding:10px;
  padding: 10px;
  height: 100%;
  width: 100%;
  /* overflow-y: auto; */
 }
 .message-bubble {
  background: #f1f1f1;
  border-radius: 5px;
  color: #000;
  width: fit-content;
  min-width: 20%;
  padding: 10px;
  margin-bottom:0px;
  text-align: left;
 }
 .alert--success {
   background:#dff0d8;
   padding:20px;
   border-color:#d6e9c6;
    color:#3a703c;
    margin-top:30px;
 }
 h1.text--success { 
  color:#2D2D2D;
 }
 h1.text--success:after {
  content:'';
  display: block;
  position: relative;
  width:477px;
  height:1px;
  background-color: rgba(89,89,89,.5);
  top:15px;
 }
 h1.text--success svg, .alert--success svg {
  margin-right: 10px
 }
 .alert--success-login {
   margin-top:20px;
 }
 .pwreset-section p {
   text-align: center;
 }
 .gif-wrapper .es_componentWrapper__pRs7D {
   width:100% !important;
 }
 /* .chat-line:nth-child(odd) {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.chat-line:nth-child(even) {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
} */
/* .chat-line:nth-child(odd) p.message-bubble {
  background: #ff6600;
  color: #fff;
}
.chat-line:nth-child(even) p.message-bubble {
  background: rgb(102,153,204);
  color: #fff;
} */
.networking {
    width: 65%;
    padding: 0 10px;
}
.chat-container {
  border-radius: 0 0 2px 2px;
  border: 2px solid #d3d3d3;
  padding:10px;
}
.composer {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
  width: 100%;
}
.composer form p {
  margin-bottom:0;
}
.welcome {
  font-weight: bold;
}
.name-input {
  padding:5px;
}
 /*UI Overrides*/
 .ui.padded.two.column.grid {
   background:rgba(255,255,255,.6);
   width: 90%;
 }
.ui.padded.two.column.grid .row {
  margin-left:0;
  margin-right:0;
  justify-content: space-around;
  padding-top:10px;
}
.ui.padded.four.column.grid {
  background: rgba(255,255,255,.6);
  width: 90%;
}
.ui.padded.four.column.grid .row {
  display: flex;
  justify-content: space-evenly;
}
.ui.padded.two.column.grid .row .column {
  padding:10px;
}
.dropdown---dropdown-menu---1fkH0 > .dropdown---menu-item-wrapper---3uAM0 > .dropdown---menu-item---1LjoL {
  color:#fff !important;
  font-size:14px;
  font-family:Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown---dropdown-menu---1fkH0 > .dropdown---menu-item-wrapper---3uAM0 > .dropdown---menu-item---1LjoL:hover {
  color:#fff;
  opacity:0.7;
  background:none;
}
.buttons---dropdown-toggle---vMtjL.buttons---btn---2jZHN {
  padding-right:11px;
}

.ui.card {
  justify-content: space-evenly;
  flex-direction: column;
  align-items:center;
  border:none;
  height:fit-content;
}
.ui.card .content {
  width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  margin: 0 auto;
  padding-top: 10px;
  width: 100%;
}
.main-content-profile .ui.card .content {
  align-items: center;
}
.card {
  margin:0 auto;
  justify-content: center;
  align-items:center;
}
.card-header {
  color:#2e8bca;
  font-size:22px;
  font-weight: normal;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.card-description {
  padding:5px;
}
.next-steps h2 {
  margin-bottom:0;
}
.video-description {
  width: 100%;
  max-width: 450px;
  padding:10px;
}
.video-description .header {
  padding:5px 10px;
}
.video-cards {
  border-radius:0;
}
.resource-flyout {
  display:inline;
}
.resource-flyout-toggle {
  background:none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  border:none;
  font-size:14px;
  font-family:Helvetica, Arial, sans-serif;
  transition: ease-in-out;
}
.resource-flyout-toggle:hover {
  background:none;
  opacity: .7;
  color:#fff;
  text-decoration: none;

}
.resource-flyout button{
  background:none !important;
  box-shadow: none !important;
  border:none;
  color:#fff !important;
}
.fa-cogs {
  color:#fff !important;
}
span.dropdown---caret---3CkEt {
  display: none;
}
.resource-flyout-menu {
  color:#fff;
  background:#666666;
  height:auto;
  top:auto;
  padding:5px;
  border:none;
  margin-top:-10px;
}
.ui.card, .ui.card .content {
  flex-direction: column;
  align-items: center;
}
.meeting-video {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}
.greetings img {
  width:100%;
}

.article-block .ui.card.survey-card {
  width:65%;
}
.ui.card.survey-card .header.card-header {
  text-align:center;
  width: 100%;
}
.survey-descriptions {
  display: flex;
  flex-direction: row;
  padding:5px;
}
.survey-descriptions .description {
  width:50%;
}

.vjs-big-play-button {
  display: none !important;
}


/*Ticker*/
.marquee-container {
  width:100%;
  min-height: 76px;
}
.marquee h1 {
  color: #fff;
  text-align: center;
  padding: 26px 0;
  width: max-content;
  min-width: 830px;
  font-size: 1.2rem;
}
.marquee a {
  color:#fff;
  text-decoration: underline;
}
/*Media Queries*/
@media (min-width: 1250px) {
  .right-mobile {
    display:none;
  }
}
@media (max-width: 1250px) {
  .navbar .container {
    max-width:1100px;
    padding: 0 10px;
    height:200px;
  }
  .container, .meetings-container {
    max-width:1250px;
    width:100%;
  }
  .content-wrapper {
    flex-direction: column;
  }
  .main-content {
    width: 100%;
    flex-direction: column;
  }
  .ui.padded.four.column.grid, .ui.padded.four.column.grid .row, .ui.padded.two.column.grid, .faq-container {
    width:100%;
    margin-right:0;
    margin-left:0;
  }
  .faq-sections {
    width:95%;
  }
  .article-block .ui.card.survey-card {
    width:77%;
  }
  .article-block {
    width:100%;
    flex-wrap: wrap;
  }
  .article-block .ui.card {
    width:32%;
  }
  .left {
    width: auto;
    order:2;
  }
  .right {
    display: none;
  }
  .right-mobile {
    width:100%;
    order:1;
    z-index: 1;
  }
  .meetingContent {
    border-right:10px solid #ff6600;
    text-align: center;
  }
  .tabular.menu .item {
    background: #f60;
    color: #fff;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .475rem 1.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    pointer-events: visible;
    cursor: pointer;
  }
  .tabular.menu .item:hover {
    background:rgb(230,230,230);
    border-color:#000;
    color:#000;
  }
  .tabular.menu .item.active {
    background:rgb(230,230,230);
    border-color:#000;
    color:#000;
  }
  .ui.attached.tabular.menu {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  .mobile-agenda {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:5px;
  }
  .mobile-agenda-item:first-child {
    border-left:2px solid #ff6600;
  }
  .mobile-agenda-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 20%;
    text-align:center;
    border-right: 2px solid #ff6600;
    padding: 10px 2px;
  }
  .custom-sidenav {
      width:100%;
      position:relative;
      padding:20px 0;
  }
  .custom-sidenav div[role*="menu"] {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
  }
  #sidenav-item {
    margin:0;
  }
  .sidebar-nav-link i, .fa-cogs {
    font-size:2.25rem !important;
  }
  .resource-flyout-menu.dropdown---dropdown-menu---1fkH0 {
    display: none !important;
  }
  .dropdown---dropdown---1yvIZ.dropdown---open---1ju75 > .dropdown---dropdown-menu---1fkH0 {
    display: flex!important;
    top: 91px;
    left: -185px;
  }
}
@media (max-width: 1028px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
  .article-block .ui.card.survey-card {
    width:100%;
  }
  .article-block .ui.card {
    width: 47%;
  }
}
@media (max-width: 790px) {
  
}
@media (max-width: 767px) {
  body {
    font-size:13px;
  }
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
  .navbar {
    flex-direction: unset;
  }
  .navbar-nav:last-child {
    background:none;
    box-shadow:none;
    position: relative;
    top:-120px;
    min-height:unset !important;
  }
  .custom-sidenav {
    display: none;
  }
  .mobile-nav .nav-item i {
    margin-right: 1rem;
  }
  .mobile-nav .router-link-exact-active {
    border-bottom:2px solid #ff6600;
  }
  button.mobile-subnav-toggle.btn.btn-secondary {
    color: #212529;
    min-width:unset;
    width:100%;
    background:none;
    border-bottom: 1px solid #b3bac7;
    border-top:none;
    border-left:none;
    border-right:none;
    padding: .55rem 1.5rem;
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
  }
  button.mobile-subnav-toggle.btn.btn-secondary i.fa-cogs {
    color: #212529 !important;
  }
  .mobile-subnav-menu.dropdown-menu.show {
    right: 238px;
    transform: none !important;
    top: -2px !important;
    left:unset !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .mobile-subnav-menu.dropdown-menu.show a.dropdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar-nav-link i, .fa-cogs {
    font-size: 1.75em !important;
  }
  .dropdown-menu.show {
    z-index: 3;
  }
  .nav-item {
   z-index: 3
  }
/*   .nav-item.dropdown .dropdown-item, button.mobile-subnav-toggle.btn.btn-secondary {
    padding:0;
  } */
  .main-content-profile {
    width:auto;
  }
  a#profileDropDown {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: flex-end;
  }
  .ui.padded.four.column.grid {
    width:100%;
  }
  .survey-descriptions {
    flex-direction: column;
  }
  .survey-descriptions .description {
    width:100%;
  }
/*   .article-block {
    flex-direction: column;
  } */
}
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}
@media (max-width: 700px) {
  .mobile-agenda {
    width:72%;
    margin:0 auto;
  }
  .mobile-agenda-item { 
    align-content: flex-start;
    width: 100%;
    text-align: left;
    padding: 10px 2px;
    margin: 0 auto;
    display:block;
    border-right:none;
  }
  .mobile-agenda-item:first-child {
    border-left:none;
  }
  .article-block .ui.card {
    width:75%;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
      background:#fff;
      display:flex;
      justify-content: center;
      align-items: center;
      text-align:center;
  }
}
